build/
install/
*.o
*.o.d
*.so
*.a
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile
*.bin
*.pt2
exported_model/
.vscode/

# Ignore generated model files
models/compress_models/
pretrained_models/
pretrained
# Ignore Python cache (if any)
__pycache__/
*.pyc
.ipynb_checkpoints/

